body {
  margin: 10px;
  border-top: solid 1px rgb(224, 220, 220);
  border-bottom: solid 1px rgb(224, 220, 220);
}

.display {
  width: 55%;
}

#answer label, #question label {
  font-weight: bold;
}

#answer, #question {
  display: flex;
  margin: 10px;
}

.question {
  margin-left: 50px;
}

.answer {
 margin-left: 60px;
}

.question:hover, .see:hover {
  cursor: pointer;
  text-decoration: underline;
  color: orange;
}

.question, .see, .expand {
  color: rgb(24, 114, 156);
}

.see, .expand {
  margin-left: 5px;
}

.arrow {
  transform: rotate(-90deg);
  color: rgb(99, 96, 96);
}

.hat {
  display: flex;
  margin-left: 125px;
}

.search {
  height: 25px;
  width: 100%;
  padding-left: 25px;
}

.searchBar img {
  position: absolute;
  left: 17px;
  padding-top: 7px;
  height: 13px;
  width: 13px;
  object-fit: cover;
}

.user {
  color: rgb(97, 93, 93);;
}

button:hover {
  cursor: pointer;
}

.seeQuests {
  height: 30px;
  margin: 10px;
  margin-left: 200px;
}

.downvote {
  padding: 0;
  width: 0;
  height: 0;
  margin: 5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid rgb(126, 123, 123);
  border-bottom: none;
  background-color: white;
}

.upvote {
  padding: 0;
	width: 0;
  height: 0;
  margin: 5px;
  border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  border-bottom: 15px solid rgb(126, 123, 123);
  border-top: none;
  background-color: white;
}

.votes {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  padding-right: 10px;
  text-align: center;
  border-right: solid 1px rgb(224, 220, 220);
  height: 90px;
}

.qlist {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  padding: 10px;
}

.expand:hover {
  cursor: pointer;
  color: orange;
}